<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ICPBridgeDemo</display-name>
  <listener>
    <listener-class>com.huawei.bridge.startup.SystemInitListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.huawei.bridge.servlet.SessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>MonitorServlet</servlet-name>
    <servlet-class>com.huawei.bridge.servlet.MonitorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonitorServlet</servlet-name>
    <url-pattern>/MonitorServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>com.huawei.bridge.servlet.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/EventServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventCountServlet</servlet-name>
    <servlet-class>com.huawei.bridge.servlet.EventCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventCountServlet</servlet-name>
    <url-pattern>/EventCountServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatusControlServlet</servlet-name>
    <servlet-class>com.huawei.bridge.servlet.StatusControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusControlServlet</servlet-name>
    <url-pattern>/StatusControlServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnswerCallServlet</servlet-name>
    <servlet-class>com.huawei.bridge.servlet.AnswerCallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerCallServlet</servlet-name>
    <url-pattern>/AnswerCallServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CallOutServlet</servlet-name>
    <servlet-class>com.huawei.bridge.servlet.CallOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallOutServlet</servlet-name>
    <url-pattern>/CallOutServlet.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>