<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CDSBridgeDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.huawei.bridge.startup.SystemInitListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ThirdControlServlet</servlet-name>
    <servlet-class>com.huawei.bridge.servlet.ThirdControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdControlServlet</servlet-name>
    <url-pattern>/ThirdControlServlet.do</url-pattern>
  </servlet-mapping>
</web-app>